
      <!-- Add Bootstrap JS and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  
  <script>
  
  $(document).ready(function(){
    $("#termBox").hide();
  
    $("#agreeTerms").change(function(){
   
   if(this.checked){
    document.getElementById('registerBtn').disabled = false;
     $("#termBox").show();
   }else{
    document.getElementById('registerBtn').disabled = true;
     $("#termBox").hide();
   }
  })
  
  })
  
  
  $("#decline").click(function(event){
    
    event.preventDefault();
    $("#termBox").hide();
    document.getElementById('registerBtn').disabled = true;
    document.getElementById('agreeTerms').checked = false;
  
   
  })
  $("#accept1").click(function(event){
    $("#termBox").hide();
    document.getElementById('registerBtn').disabled = false;
    event.preventDefault();
  })
  
  </script>
    </body>
  
    
    </html>