
    
    
     <div id="spinner" class="spinner-container" style="display: none">
      <div class="spinner">
          <img src="/images/spinner.svg" alt="" width="100px" />
      </div>
  </div>
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script>

      // Highlight the active navigation link based on the current URL path
      document.addEventListener('DOMContentLoaded', function() {
            const currentPath = window.location.pathname;
            const navLinks = document.querySelectorAll('.navbar-nav .nav-link');

            navLinks.forEach(link => {
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('active');
                } else {
                    link.classList.remove('active');
                }
            });
        });
        
        window.addEventListener("load", function () {
            document.getElementById("spinner").style.display = "none";
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("spinner").style.display = "flex";
        });
       
    $(document).ready(function(){
    $("#termBox").hide();
  
    $("#agreeTerms").change(function(){
   
   if(this.checked){
    document.getElementById('registerBtn').disabled = false;
     $("#termBox").show();
   }else{
    document.getElementById('registerBtn').disabled = true;
     $("#termBox").hide();
   }
  })
  
  })
  
  
  $("#decline").click(function(event){
    
    event.preventDefault();
    $("#termBox").hide();
    document.getElementById('registerBtn').disabled = true;
    document.getElementById('agreeTerms').checked = false;
  
   
  })
  $("#accept1").click(function(event){
    $("#termBox").hide();
    document.getElementById('registerBtn').disabled = false;
    event.preventDefault();
  })
  
   </script>
</body>
</html>
    
