
    
    
     <div id="spinner" class="spinner-container" style="display: none">
      <div class="spinner">
          <img src="/images/spinner.svg" alt="" width="100px" />
      </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   
   <script>
$(document).ready(function() {
    // Get the current path
    var currentPath = window.location.pathname;

    // Loop through each sidebar link
    $('.side-nav-item').each(function() {
        var linkPath = $(this).attr('href');

        // Add 'active' class if the link's href matches the current path
        if (linkPath === currentPath) {
            $(this).removeClass('text-white')
            $(this).addClass('addActive text-black');
            $(this).find('img').addClass('active-class-green');
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const pageTitle = document.getElementById('page-title');
        const currentUrl = window.location.pathname; // Get the current URL path
    
        // Change the text based on URL
        if (currentUrl.includes('/dashboard')) {
        pageTitle.textContent = 'DASHBOARD';
        } else if (currentUrl.includes('/plant-identification')) {
        pageTitle.textContent = 'PLANT IDENTIFICATION';
        } else if (currentUrl.includes('/community')) {
        pageTitle.textContent = 'COMMUNITY';
        } else if (currentUrl.includes('/email')) {
        pageTitle.textContent = 'EMAIL US';
        }
    });

    // Spinner functionality
    $("#spinner").show(); // Show spinner when the page loads
    $(window).on("load", function() {
        $("#spinner").hide(); // Hide spinner when page finishes loading
    });

    // Menu toggle and X-bar transformation
    $("#menu-toggle").on("click", function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        var icon = $("#menuIcon");
        icon.toggleClass("fa-bars fa-arrow-right rotated");
    });
});



   </script>
</body>
</html>
    
