
    
<!--     
    <div id="spinner" class="spinner-container"
    style="display: none; position: fixed;
    top: 0;            
    left: 0;          
    width: 100%;       
    height: 100%;       
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;      
    justify-content: center;
    align-items: center;
    z-index: 9999;">

    <div class="spinner">
          <img src="/images/spinner.svg" alt="" width="100px"/>
      </div>
    </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   
   <script>
$(document).ready(function() {

    // Select all forms with the class 'ajax-form'
    $('.ajax-form').on('submit', function(event) {
        // Find the submit button within the current form
        const submitButton = $(this).find('.submit-button');

        // Disable the button and change the text to indicate processing
        submitButton.prop('disabled', true).text('Processing...');

        // Allow form submission to proceed
    });

    // Get the current path
    var currentPath = window.location.pathname;

    // Loop through each sidebar link
    $('.side-nav-item').each(function() {
        var linkPath = $(this).attr('href');

        // Add 'active' class if the link's href matches the current path
        if (linkPath === currentPath) {
            $(this).removeClass('text-white');
            $(this).addClass('addActive text-black');
            $(this).find('img').addClass('active-class-green');
        }
    });

    // Change the text based on URL
    const pageTitle = $('#page-title');
    
    if (currentPath.includes('/dashboard')) {
        pageTitle.text('Dashboard');
    } else if (currentPath.includes('/plant-identification')) {
        pageTitle.text('Plant Identification');
    } else if (currentPath.includes('/community')) {
        pageTitle.text('Community');
    } else if (currentPath.includes('/email')) {
        pageTitle.text('Email us');
    }else if(currentPath.includes('/posts')){
        pageTitle.text('Community Forum');
    }else if(currentPath.includes('/post')){
        pageTitle.html(' <a id="page-title" class="nexa-black bread-crumbs m-0" href="/posts">Community Forum</a> > Post');
    }else if(currentPath.includes('/add-new-plant')){
        pageTitle.text('Add Plant');
    }

    // Menu toggle and X-bar transformation
    $("#menu-toggle").on("click", function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        var icon = $("#menuIcon");
        icon.toggleClass("fa-bars fa-arrow-right rotated");
    });
});

    </script>
    </body>
</html>
    
