<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Seed</title>
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
    <!-- CHART.JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="./styles/user.css">

    <style>
        #sidebar-wrapper {
            min-height: 100vh;
            margin-left: -15rem;
            transition: margin 0.25s ease-out;
        }

        #sidebar-wrapper .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }

        #sidebar-wrapper .list-group {
            width: 15rem;
        }

        #page-content-wrapper {
            min-width: 100vw;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }

        @media (min-width: 768px) {
            #sidebar-wrapper {
                margin-left: 0;
            }

            #page-content-wrapper {
                min-width: 0;
                width: 100%;
            }

            #wrapper.toggled #sidebar-wrapper {
                margin-left: -15rem;
            }
        }
    </style>
</head>
<body>
    <style>
        .logo{
            height: 60px;
            width: 60px;
            background-image: url("/images/LOGO.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div style="background-color: #E7F2EE;" class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><img class="logo"  src="/images/LOGO.svg" alt=""><strong>PROJECTSEED.</strong></div>
            <div class="list-group list-group-flush d-grid gap-3">
                <a href="/dashboard" class="side-nav-item"><img src="/images/mage_dashboard.svg" alt="">Dashboard</a>
                <a href="/plant-identification" class="side-nav-item "><img src="/images/hugeicons_identification.svg" alt="">Plant Identification</a>
                <a href="/community" class="side-nav-item"><img src="/images/community.svg" alt="">Community</a>
                <a href="/email" class="side-nav-item"><img src="/images/email.svg" alt="">Email</a>
                <a href="/logout" class="side-nav-item">Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

