<%- include("partials/LandingPageHeader.ejs") %>

          <div class="container col-xxl-9 text-white text-center p-5">
               <p style="font-size: clamp(80px,10vw,150px) ; line-height: 1;" class="fw-bold p-0 mt-5">PROJECT SEED</p>
               <p style="font-size: clamp(10px,10vw,30px);" class="fw-lighter">JELLY ACE GROUP</p>
               <button class="discover-btn btn">DISCOVER</button>
          </div>
     </section>

     <section id="features">
          
          <div class="container col-xxl-9 d-flex row gap-3" style="margin: 50px auto 20px;">
               <div class="features-text col-lg-4">
                    <p> JellyAce Permaculture & it's Features </p>
               </div>
               <div class="features-card col">
                    <div class="">
                         <p class="fw-bold">Phasellus accumsan imperdiet tempor. Cras tincidunt, arcu nec eleifend porttitor, orci est vehicula </p>
                         <p class="lg-text">Proin id ligula dictum, convallis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdie
                              Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed posuere egestas nunc ut tempus.
                         </p>
                    </div>
                    <div class="d-flex justify-content-between features-img row">
                         <div class="cards col">
                              <img src="/images/perma.svg" alt="">
                              <p>Permaculture Crop Planting</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/notification.svg" alt="">
                              <p>Alerts and Notification</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/weather.svg" alt="">
                              <p>Weather Data Forecast</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/disease.svg" alt="">
                              <p>Plant Disease Identification</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/community.svg" alt="">
                              <p>Community Forum</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/ai.svg" alt="">
                              <p>Artificial Intelligence Chatbot</p>
                         </div>
                         
                    </div>
               </div>
          </div>

     </section>

     <section id="second-page">
          <div class="container d-flex justify-content-center col-xxl-9 px-4 py-5 my-4">
               <div class="row text-center how-it-work-container">
                    <div class="col" style="min-width: 367px;">
                         <div class="p-4 rounded-circle">
                              <img src="images/food-donation.png" alt="sample" width="100%">
                         </div>
                         <p class="h5 fw-bold mt-3">Donate Food</p>
                         <p> People can choose to donate non-perishable items through drop-off locations.</p>
                    </div>
                    <div class="col" style="min-width: 367px;">
                         <div class="p-4 rounded-circle">
                              <img src="images/distribution.png" alt="sample"  width="100%">
                         </div>
                         <p class="h5 fw-bold mt-3">Distribution</p>
                         <p>Food is collected and distributed to barangays.</p>
                    </div>
                    <div class="col"style="min-width: 367px;">
                         <div class="p-4 rounded-circle">
                              <img src="images/homeless.png" alt="sample"  width="100%">
                         </div>
                         <p class="h5 fw-bold mt-3">Reaching Those in Need</p>
                         <p>Barangays ensure the food reaches families facing hunger.</p>
                    </div>
               </div>
          </div>
     </section>

     <section id="impact-statistic">
          <div class="container col-xxl-9 px-4 py-5 text-center my-4">
               <div class="d-flex justify-content-center">
                    <p class="h1 fw-bold">Our Impact So Far</p>
               </div>
               <div class="row d-flex justify-content-between mt-4">
                    <div class="col">
                         <p class="h1 fw-bold">13,000</p> 
                         <p class="h2">Foods Provided</p>
                         <p>to individuals and families facing food insecurity.</p>
                    </div>
                    <div class="col">
                         <p class="h1 fw-bold">2291</p> 
                         <p class="h2">People Helped</p>
                         <p>across various barangays have received regular food support.</p>
                    </div>
                    <div class="col">
                         <p class="h1 fw-bold">12</p> 
                         <p class="h2">Barangays Served</p>
                         <p>to ensure food is reaching the most vulnerable households.</p>
                    </div>
               </div>
             
          </div>
     </section>

    

     <section id="third-page">
          <div class="container col-xxl-9">
               <h2 class="text-center third-title">Lorem Ipsum is simply</h2>
               <p class="text-center third-text">Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>

               <div class="div d-flex flex-lg-row flex-md-column flex-sm-column justify-content-center pt-5">
                    <div class="row d-flex flex-md-column flex-sm-column">
                         <div class="col-auto flex-sm-column py-4 px-4">
                              <p class="third-second-title">Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/first-image.svg" alt="" width="100%" />
                         </div>
                         <div class="col-auto py-4 px-4">
                              <p>Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/third-image.svg" alt="" width="100%" />
                         </div>
                    </div>

                    <div class="row d-flex flex-md-column flex-sm-column">
                         <div class="col-auto py-4 px-4">
                              <p>Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/second-image.svg" alt="" width="100%" />
                         </div>
                         <div class="col-auto py-4 px-4">
                              <p>Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/fourth-image.svg" alt="" width="100%" />
                         </div>
                    </div>
               </div>
          </div>
     </section>


</body>
   
<%- include("partials/LandingPageFooter.ejs") %>
