<%- include("partials/LandingPageHeader.ejs") %>

          <div class="container col-xxl-9 text-white text-center py-5">
               <p style="font-size: clamp(80px,10vw,150px) ; line-height: 1;" class="fw-bold p-0 mt-5">PROJECT SEED</p>
               <p style="font-size: clamp(10px,10vw,30px);" class="fw-lighter">JELLY ACE GROUP</p>
               <button class="discover-btn btn">DISCOVER</button>
          </div>
     </section>

     <section id="features">
          
          <div class="container col-xxl-9 d-flex row gap-3" style="margin: 50px auto 20px;">
               <div class="features-text col-lg-4">
                    <p> JellyAce Permaculture & it's Features </p>
               </div>
               <div class="features-card col">
                    <div class="">
                         <p class="fw-bold">Phasellus accumsan imperdiet tempor. Cras tincidunt, arcu nec eleifend porttitor, orci est vehicula </p>
                         <p class="lg-text">Proin id ligula dictum, convallis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdie
                              Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed posuere egestas nunc ut tempus.
                         </p>
                    </div>
                    <div class="d-flex justify-content-between features-img row mt-5">
                         <div class="cards col">
                              <img src="/images/perma.svg" alt="">
                              <p>Permaculture Crop Planting</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/notification.svg" alt="">
                              <p>Alerts and Notification</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/weather.svg" alt="">
                              <p>Weather Data Forecast</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/disease.svg" alt="">
                              <p>Plant Disease Identification</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/community.svg" alt="">
                              <p>Community Forum</p>
                         </div>
                         <div class="cards col">
                              <img src="/images/ai.svg" alt="">
                              <p>Artificial Intelligence Chatbot</p>
                         </div>
                         
                    </div>
               </div>
          </div>

          <div class="container col-xxl-9">
               <p class="d-flex flex-column fw-bolder" style="font-size: 90px; line-height: 1.1;">
                    <span>Awesome</span>
                    <span style="color: #4ECB71;"> Harvest of</span>
                    <span style="color: #FFFF86;">Crops</span>
               </p>
          </div>

          <div class="container col-xxl-9">
               <div class="row">
                    <div class="col-lg-6 col-md-12">
                         <p class="h3 fw-bolder">The Most Producing Crops</p>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua.</p>
                         <p class="lg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                         <p class="lg-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-lg-6">
                         <img src="/images/vegetable.png" width="100%" alt="">
                    </div>
               </div>
               
          </div>

     </section>

     <section id="customers-section">
          <div class="container col-xxl-9 d-flex flex-column align-items-center mt-5">
               <p class="h1 fw-bold d-flex flex-column align-items-center">
                    <span>What Our</span>
                    <span>Customers Say</span> 
               </p>
               <div class="green-line"></div>
               <p class="lg-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

               <div class="container my-5">
                    <div id="ratingsCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel Items -->
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                         <div class="d-flex flex-column align-items-center custom-shadow">
                              <div class="rating mt-4">★★★★☆</div>
                              <p class="mt-3 p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
                              <div style="width: 100px; height: 100px;">
                                   <img style="width: 100%; border-radius: 50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyAu6acC2ZQ_TmFRon-lg0KqtdrxDpqUBCVA&s" alt="User Image">
                              </div>
                              <div class="mt-3">
                                   <p class="m-0 fw-bold">Monkey D. Luffy</p>
                                   <p>CEO</p>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="d-flex flex-column align-items-center custom-shadow">
                              <div class="rating mt-4">★★★★☆</div>
                              <p class="mt-3 p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
                              <div style="width: 100px; height: 100px;">
                                   <img style="width: 100%; border-radius: 50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyAu6acC2ZQ_TmFRon-lg0KqtdrxDpqUBCVA&s" alt="User Image">
                              </div>
                              <div class="mt-3">
                                   <p class="m-0 fw-bold">Monkey D. Luffy</p>
                                   <p>CEO</p>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="d-flex flex-column align-items-center custom-shadow">
                              <div class="rating mt-4">★★★★☆</div>
                              <p class="mt-3 p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
                              <div style="width: 100px; height: 100px;">
                                   <img style="width: 100%; border-radius: 50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyAu6acC2ZQ_TmFRon-lg0KqtdrxDpqUBCVA&s" alt="User Image">
                              </div>
                              <div class="mt-3">
                                   <p class="m-0 fw-bold">Monkey D. Luffy</p>
                                   <p>CEO</p>
                              </div>
                          
                         </div>
                    </div>
                    </div>

                    <!-- Indicators (Dots) -->
                    <div class="carousel-indicators">
                         <button type="button" data-bs-target="#ratingsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                         <button type="button" data-bs-target="#ratingsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                         <button type="button" data-bs-target="#ratingsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                     
                    </div>
                  </div>
               
          </div>
     </section>

     


</body>
   
<%- include("partials/LandingPageFooter.ejs") %>
