<%- include("partials/LandingPageHeader.ejs") %>

          <div class="container col-xxl-9 py-5">
               <div class="row flex-lg-row-reverse align-items-center">
                    <div class="col-10 col-sm-8 col-lg-6" style="margin: auto;">
                         <img src="/images/landingpage.svg" class="d-block mx-lg-auto img-fluid" alt="Zero Hunger Initiative" loading="lazy" />
                    </div>
                    <div class="col-lg-6">
                         <h1 class="display-5 fw-bold lh-2 mb-3">Help Us End Hunger Today</h1>
                         <p class="lead fw-lighter">Join the fight against hunger by donating food to those in need. Together, we can make a difference in the lives of families across our barangays. Your contribution provides meals to those who need them most.</p>
                         <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                              <a class="btn btn-primary btn-lg px-4 me-md-2" href="/register">Join us</a>
                              <a class="btn text-white btn-lg px-4 my-border" href="">Learn How It Works</a>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section id="second-page">
          <div class="container d-flex justify-content-center col-xxl-9 px-4 py-5 my-4">
               <div class="row text-center how-it-work-container">
                    <div class="col" style="min-width: 367px;">
                         <div class="p-4 rounded-circle">
                              <img src="images/food-donation.png" alt="sample" width="100%">
                         </div>
                         <p class="h5 fw-bold mt-3">Donate Food</p>
                         <p> People can choose to donate non-perishable items through drop-off locations.</p>
                    </div>
                    <div class="col" style="min-width: 367px;">
                         <div class="p-4 rounded-circle">
                              <img src="images/distribution.png" alt="sample"  width="100%">
                         </div>
                         <p class="h5 fw-bold mt-3">Distribution</p>
                         <p>Food is collected and distributed to barangays.</p>
                    </div>
                    <div class="col"style="min-width: 367px;">
                         <div class="p-4 rounded-circle">
                              <img src="images/homeless.png" alt="sample"  width="100%">
                         </div>
                         <p class="h5 fw-bold mt-3">Reaching Those in Need</p>
                         <p>Barangays ensure the food reaches families facing hunger.</p>
                    </div>
               </div>
          </div>
     </section>

     <section id="impact-statistic">
          <div class="container col-xxl-9 px-4 py-5 text-center my-4">
               <div class="d-flex justify-content-center">
                    <p class="h1 fw-bold">Our Impact So Far</p>
               </div>
               <div class="row d-flex justify-content-between mt-4">
                    <div class="col">
                         <p class="h1 fw-bold">13,000</p> 
                         <p class="h2">Foods Provided</p>
                         <p>to individuals and families facing food insecurity.</p>
                    </div>
                    <div class="col">
                         <p class="h1 fw-bold">2291</p> 
                         <p class="h2">People Helped</p>
                         <p>across various barangays have received regular food support.</p>
                    </div>
                    <div class="col">
                         <p class="h1 fw-bold">12</p> 
                         <p class="h2">Barangays Served</p>
                         <p>to ensure food is reaching the most vulnerable households.</p>
                    </div>
               </div>
             
          </div>
     </section>

    

     <section id="third-page">
          <div class="container col-xxl-9">
               <h2 class="text-center third-title">Lorem Ipsum is simply</h2>
               <p class="text-center third-text">Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>

               <div class="div d-flex flex-lg-row flex-md-column flex-sm-column justify-content-center pt-5">
                    <div class="row d-flex flex-md-column flex-sm-column">
                         <div class="col-auto flex-sm-column py-4 px-4">
                              <p class="third-second-title">Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/first-image.svg" alt="" width="100%" />
                         </div>
                         <div class="col-auto py-4 px-4">
                              <p>Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/third-image.svg" alt="" width="100%" />
                         </div>
                    </div>

                    <div class="row d-flex flex-md-column flex-sm-column">
                         <div class="col-auto py-4 px-4">
                              <p>Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/second-image.svg" alt="" width="100%" />
                         </div>
                         <div class="col-auto py-4 px-4">
                              <p>Lorem Ipsum is simply dummy</p>
                              <p>Welcome to Burger Bliss, where we take your cravings to a whole new level! Our mouthwatering burgers are made from 100% beef and are served on freshly baked buns.</p>
                              <img class="card-pictures" src="/images/fourth-image.svg" alt="" width="100%" />
                         </div>
                    </div>
               </div>
          </div>
     </section>


</body>
   
<%- include("partials/LandingPageFooter.ejs") %>
