<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Tutorial 101</h1>

    <form action="/complete-tutorial" method="post">
        <button type="submit">Complete</button>
    </form> 
    
</body>
</html>